name: Continuous Integration
'on':
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
      - name: Set up JDK 23
        uses: actions/setup-java@v3
        with:
          java-version: '23'
          distribution: adoptium
          check-latest: false
      - name: Install Checkstyle
        run: >
          wget
          https://github.com/checkstyle/checkstyle/releases/download/checkstyle-10.0/checkstyle-10.0-all.jar
          -O checkstyle.jar
      - name: Run Checkstyle
        run: |
          java -jar checkstyle.jar -c /google_checks.xml src/main/java
